.contact_container {
  position: absolute;
  background: url("");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

  .contact {
    margin-top: 6rem;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    margin-top: 2rem;
    text-shadow: 4px 1px 2px rgb(239, 44, 44);
  }

  .contact_info {
    margin-top: 3rem;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    display: grid;
    margin-bottom: 3rem;
    //   border: 1px solid red;
    gap: 2rem;
    padding: 1rem;
  }
  .img_text1 {
    width: 100%;
    height: 15rem;
    background: url("./images/rk.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.546);

    .infos {
      background: rgba(36, 35, 35, 0.682);
      width: 100%;
      height: 3rem;
      margin-top: 12rem;
      border-radius: 5px 5px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      transition: all ease 0.6s;
      font-size: 0.9rem;

      span {
        color: cyan;
      }
      p {
        display: none;
        transition: all ease 0.9s;
      }
    }
    .name {
      box-shadow: 0px 0px 8px 0px;
      cursor: pointer;
      color: cyan;
      border-radius: 0px 0px 5px 5px;
      text-align: center;
    }
    .infos:hover {
      margin-top: 5rem;
      height: 10rem;

      p {
        display: block;
      }
    }
  }
  .img_text2 {
    @extend .img_text1;
    background: transparent;
  }
  .img_text3 {
    @extend .img_text1;
    background: url("");
    background-size: cover;
  }

  .img_text4 {
    @extend .img_text1;
    background: url("");
    background-size: cover;
  }

  .img_text5 {
    @extend .img_text1;
    background: transparent;
  }
}
@media (min-width: 1360px) {
  .contact_container {
    height: 100vh;
  }
}
