.flat_div {
  position: static;
  width: 100%;
  padding: 3rem;
  display: flex;

  .image_flat {
    width: 60%;
    height: 40rem;
    margin-top: 4rem;
    background-image: url("https://myfirstbucketrohitannie.s3.ap-south-1.amazonaws.com/flat5.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    .text_flat_div {
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      margin-left: 67%;
      margin-top: -4rem;
      height: 48rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      .flat_text {
        width: 90%;

        .flatdiv_h2 {
          font-size: 4rem;
        }
        .flatdiv_p {
          font-size: 1.2rem;
          font-weight: 500;
        }
        #flat_btn {
          width: 45%;
          height: 3.5rem;
          margin-top: 2rem;
          border-radius: 10px;
          font-size: 1.4rem;
          font-weight: 700;
          border: none;
          // border: 1px solid red;
          background: rgb(3, 147, 147);
          transition: 0.4s;

          #link {
            text-decoration: none;
            color: white;
          }
        }
        #flat_btn:hover {
          background: rgb(2, 215, 215);
          cursor: pointer;
        }
      }
    }
  }
}
