.Hostel_div {
  width: 100%;
  padding: 3rem;
  display: flex;
  margin-top: 5rem;
}
.hostelimage_div {
  width: 60%;
  height: 50rem;
  background-image: url("https://myfirstbucketrohitannie.s3.ap-south-1.amazonaws.com/Hostel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 5rem;
}
.hostel_text_area {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  margin-left: 67%;
  margin-top: -6rem;
  height: 62rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.hostel_text {
  width: 55%;
}
#hostel_btn{
  width: 45%;
  height: 3rem;
  margin-top: 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  background: cyan;
}
#hostel_btn:hover{
  cursor: pointer;
  background: rgb(2, 128, 128);
}