.lodge_img_area {
  width: 100%;
  /* border: 1px solid red; */
  padding: 3rem;
  margin-top: 5rem;
  display: flex;
  justify-content: flex-end;
}
.lodgeimg_div {
  width: 60%;
  height: 50rem;
  background-image: url("https://myfirstbucketrohitannie.s3.ap-south-1.amazonaws.com/lodge5.5974c61c367667d1e20d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 5rem;
}
.lodge_text_area {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  margin-left: -66.6%;
  margin-top: -6rem;
  height: 62rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.lodge_text {
  width: 50%;
}
#lodge_btn{
  width: 45%;
  height: 3rem;
  margin-top: 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  background: cyan;
}
#lodge_btn:hover{
  cursor: pointer;
  background: rgb(1, 121, 121);
}