.lodge_img_area {
  width: 100%;
  padding: 3rem;
  margin-top: 5rem;
  display: flex;
  justify-content: flex-end;

  .lodgeimg_div {
    width: 60%;
    height: 40rem;
    background-image: url("https://myfirstbucketrohitannie.s3.ap-south-1.amazonaws.com/lodge5.5974c61c367667d1e20d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 5rem;

    .lodge_text_area {
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      margin-left: -66.6%;
      margin-top: -4rem;
      height: 48rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      .lodge_text {
        width: 90%;

        .lodge_h2 {
          font-size: 4rem;
        }
        .lodge_p {
          font-size: 1.2rem;
          font-weight: 500;
        }
        #lodge_btn {
          width: 45%;
          height: 3.5rem;
          margin-top: 2rem;
          border-radius: 10px;
          font-size: 1.4rem;
          font-weight: 700;
          border: none;
          background: rgb(3, 147, 147);
          color: white;
          transition: 0.4s;
        }
        #lodge_btn:hover {
          cursor: pointer;
          background: rgb(8, 211, 211);
        }
      }
    }
  }
}
