.signup_container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url("");
  // background: rgb(43, 43, 43);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    position: static;
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid rgb(252, 250, 250);
    background: rgba(0, 0, 0, 0.67);
    color: rgb(244, 242, 242);
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, auto));

    .register {
      width: 100%;
    }
    .signup_info {
      width: 100%;
      height: 3rem;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;

      #Info {
        text-shadow: 3px 1px 2px red;
      }
    }
    .signup_name {
      width: 100%;
      margin-top: 1rem;

      .fullname {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .renter_signup_input {
        width: 100%;
        height: 2.2rem;
        font-size: 1.2rem;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 0.2rem;
        margin-top: 0.5rem;
      }
    }
    .signup_email {
      @extend .signup_name;

      .email {
        @extend .fullname;
      }
    }

    .signup_phone {
      @extend .signup_name;

      .phone {
        @extend .fullname;
      }
    }
    .signup_gender {
      @extend .signup_name;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .gender {
        width: 20%;
        font-size: 1.2rem;
        font-weight: 600;
        margin-right: 0.3rem;
      }
      .male_div {
        width: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 0.3rem;

        .male {
          @extend .fullname;
        }
        .radio_input[type="radio"] {
          width: 30%;
          height: 1.2rem;
          cursor: pointer;
        }
      }
      .female_div {
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 0.3rem;

        .female {
          @extend .fullname;
        }
        .radio_input[type="radio"] {
          width: 30%;
          height: 1.2rem;
          cursor: pointer;
        }
      }
      .other_div {
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .other {
          @extend .fullname;
          margin-left: 0.3rem;
        }
        .radio_input[type="radio"] {
          width: 30%;
          height: 1.2rem;
          cursor: pointer;
        }
      }
    }
    .signup_setpswd {
      @extend .signup_name;

      .setpassword {
        @extend .fullname;
      }
    }
    .signup_cnfrmpswd {
      @extend .signup_name;

      .cnfrmpassword {
        @extend .fullname;
      }
    }
    .signup_btn_div {
      @extend .signup_name;
      margin-top: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      #signup_btn {
        width: 50%;
        height: 3rem;
        border: none;
        outline: none;
        border-radius: 5px;
        background: transparent;
        border: 1px solid white;
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
        color: white;
      }
      #signup_btn:hover {
        background: rgba(0, 0, 0, 0.896);
      }
    }
  }
}
