.searchroom_container {
  position: absolute;
  width: 100%;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75rem, 1fr));

  .searchroom_wrapper {
    width: 100%;
    background: rgba(6, 67, 105, 0.292);

    .search_area {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .search_navbar {
        position: fixed;
        top: 0rem;
        width: 100%;
        height: 5rem;
        background: rgb(248, 247, 247);
        display: flex;
        align-items: center;
        justify-content: space-around;

        .search_location_div {
          width: 50%;
          height: 4rem;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
        .search_field {
          width: 70%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          border-radius: 25px;
          border: 1px solid rgb(195, 192, 192);

          #search_input {
            width: 85%;
            height: 3rem;
            border: none;
            padding: 1rem;
            outline: none;
            background: transparent;
            border-radius: 25px;
            font-size: 1.5rem;
          }
          .srch_btn {
            width: 10%;
            height: 2rem;
            border: none;
            background: transparent;

            #search_icon {
              font-size: 1.5rem;
              text-align: center;
              margin-top: 0.2rem;
            }
          }
        }
        #search_btn {
          width: 25%;
          height: 3rem;
          border: none;
          border-radius: 25px;
          font-size: 2rem;
          background: rgb(5, 69, 101);
          color: white;
        }
        #search_btn:hover {
          cursor: pointer;
          background: rgb(4, 146, 216);
        }
        .choose_room_item {
          width: 40%;
          height: 3rem;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .Room_option {
            width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          #HomeBtn {
            width: 100%;
            height: 2rem;
            border: none;
            outline: none;
            font-size: 1.3rem;
            background: transparent;
            border-radius: 5px;
          }
          #link {
            text-decoration: none;
            color: black;
          }
          #HomeBtn:hover {
            cursor: pointer;
            background: rgb(9, 82, 115);
            color: white;

            #link {
              color: white;
            }
          }

          #flatBtn,
          #PgBtn,
          #hostelBtn,
          #LodgeBtn {
            @extend #HomeBtn;
          }
        }
      }
    }
  }
}
