.showroom_container {
  position: static;
  width: 80%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;

  .room_div {
    width: 100%;
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;

    .room_img {
      width: 40%;
      background: rgba(235, 233, 233, 0.726);
      border-radius: 5px 0px 0px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20.3rem;
      // border: 1px solid rgb(201, 199, 199);

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .room_details {
      width: 60%;
      border-radius: 0px 5px 5px 0px;
      background: rgba(255, 255, 255, 0.546);
      height: 20.3rem;
      padding: 1rem;

      .address {
        width: 100%;
        // border: 1px solid red;
        padding: 0.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .address_content {
        width: 100%;

        h2 {
          color: rgb(2, 79, 152);

          span {
            color: rgba(0, 0, 0, 0.958);
          }
        }
      }
    }
    .price_div {
      @extend .address;
      // border: 1px solid red;

      .price {
        // border: 1px solid red;
        width: 70%;

        h2 {
          color: rgb(2, 79, 152);
          
          span {
            color: rgba(0, 0, 0, 0.931);
          }
        }
      }
      .more_info {
        // border: 1px solid red;
        width: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .moreinfo_link {
          color: rgba(5, 164, 213, 0.799);
          font-size: 1.4rem;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
    .rating_div {
      // border: 1px solid red;
      width: 100%;
      padding: 0.3rem;

      .star_div {
        display: flex;
        flex-direction: column;

        p {
          padding: 0.4rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}
