dislay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  position: relative;
  height: 15rem;
  @extend dislay;

  .info {
    width: 33.33%;
    height: 15rem;
    color: white;
    padding: 0.5rem;
    @extend dislay;
    background: rgb(23, 117, 117);

    .info_first_child {
      width: 65%;
      text-align: center;

      #info_h2 {
        font-size: 3rem;
      }
      #info1text {
        margin-top: 1.2rem;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }

  #info_second {
    background: rgb(46, 45, 45);
  }
  .info_second_child {
    width: 50%;
    text-align: center;

    #info_h2 {
      font-size: 3rem;
    }
    #info1text {
      font-size: 1.2rem;
      font-weight: 500;
      margin-top: 1.2rem;
    }
  }

  #info_third {
    background: rgb(23, 117, 117);
  }

  .info_third_child {
    width: 50%;
    text-align: center;

    #info_h2 {
      font-size: 3rem;
    }
    #info1text {
      font-size: 1.2rem;
      font-weight: 500;
      margin-top: 1.2rem;
    }
  }
}
